body {
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
/*
    background-color: black;
    color: white;
*/
}
/*
div.document {
    background-color: black;
}
*/
div.header {
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
/*
    background-color: black;
    color: white;
*/
}

div.publi li:not(:last-child) {
    margin-bottom: 20px;
}
div.document {
    width: 75%;
    margin: 30px auto 0 auto;
}


div.leftside {
  width: 35%;
  padding: 0px 3px 0px 0px;
  float: left;
}

div.rightside {
/*
  margin-left: 37%;
*/
  margin-left: 5%;
  font-size: 85%;
  /* float: right; */
}

dl.field-list > dt:after {
    content: " ";
}

dl.field-list > dt {
    font-weight: normal;
    font-style: italic;
}

dl.field-list > dd:not(:last-child) {
    margin-bottom: 10px;
}
dl.field-list > dt:not(:last-child) {
    margin-bottom: 10px;
}
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6  {
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
/*
    background-color: black;
    color: white;
*/
}

.underline {
  text-decoration: underline;
}

/*
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}
*/

div.news.admonition {
    margin: 5px 0px 20px 30px;
    font-size: 85%;
    padding: 0px 20px 15px 20px;
    background-color: {{ theme_admonition_bg }};
    border: 1px solid {{ theme_admonition_border }};
}

div.news.admonition p.admonition-title {
    display: none;
    margin: 0 0 0 0;
    padding: 0;
}


div.preprint.admonition {
    margin: 5px 0px 20px 30px;
    font-size: 85%;
    padding: 10px 20px;
    background-color: {{ theme_admonition_bg }};
    border: 1px solid {{ theme_admonition_border }};
}

/*
div.preprint.admonition tt.xref, div.admonition code.xref, div.admonition a tt {
    background-color: {{ theme_admonition_xref_bg }};
    border-bottom: 1px solid {{ theme_admonition_xref_border }};
}
*/

div.preprint.admonition p.admonition-title {
    font-family: {{ theme_head_font_family }};
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
}


/*
div.preprint admonition p.last {
    margin-bottom: 0;
}
*/

img {
    vertical-align: top;
}

figure {
    margin-top: 10px; 
    margin-bottom: 0;
    padding: 0;
    text-align: right;
}

figcaption p {
    margin-top: 0; 
    margin-bottom: 0;
    padding: 0
}

.caption-text {
    font-style: italic;
    font-size: 60%;
    line-height: 0px;
    color: #7F7F7F;
}

div.preprint.admonition p.admonition-title:after {
    content: "";
}

